:root {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  --transition-speed: 500ms;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0.5rem;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: color var(--transition-speed),
  background-color calc(var(--transition-speed) * 1.2);

}


.dark {
  --text-primary: #e8e8e8;
  --text-secondary: #51143c;
  --bg-primary: #23232e;
  --bg-secondary: #c5c5c5;
  --ico: #dc143c;
  --shader-90: #141418e6;
  --shader-70: #141418b3;
  --shader-50: #14141880;
  --shader-30: #1414184d;
  --shader-10: #1414181a;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #ffffff;
  --bg-primary: #ffffff;
  --bg-secondary: #252525;
  --ico: #dc143c;
  --shader-90: #e4e4e4e6;
  --shader-70: #e4e4e4b3;
  --shader-50: #e4e4e480;
  --shader-30: #e4e4e44d;
  --shader-10: #e4e4e41a;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 500ms;
}

a:hover {
  color: var(--ico);
}

app-root {
  height: 100%;
}

app-theme-btn {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--shader-50);
  border-radius: 0 0 0 2rem;
  transition: color 500ms,
  background-color 700ms;
}

app-theme-btn:hover {
  color: var(--ico);
  background-color: var(--shader-90);
}

app-calculator-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

app-not-found {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
